<!DOCTYPE html>
<html>
<head>
	<title>Price Result</title>
</head>
<body>
	<h1>Price Result</h1>
	<p>The weight of your "<%= lettertype %>" was:  <%= weight %>. The price is <%= result %></p>
</body>
</html>