body {
    background-color: rgb(204, 204, 204);
}

a:hover, a:active {
    background-color: #CAEBF2;
    text-decoration: underline;
    font-size: 120%;
}

a:visited, a:link {
    text-decoration: none;
    color: #FF3B3F;
}


#navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#signup, #signin {
    display: flex;
    align-items: center;
}

h3 {
    display: flex;
    align-items: center;
}