#intro {
    color:rgb(0, 255, 0);
    text-align: center;
}

h1 {
    text-align: center;
}

#assignment_link {
    position:absolute;
    bottom: 8px;
    right: 16px;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color:rgb(171, 167, 167);
}
