#intro {
    color:rgb(36, 22, 246);
    text-align: center;
}

h1 {
    text-align: center;
}

#assignment_link {
    position: relative;
    bottom: 8px;
    left: 350px;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color:rgb(171, 167, 167);
}

#disclaimer {
    position: relative;
    font-size: 10px;
    bottom: 8px;
    left: 16px;
}

body {
}

#mountain_pic {
    height: 160px;
    width: 160px;
}